<div class="sidebarmenu">
    <%= link_to("OS-Templates", { :action => :list_templates} , { :class => 'menuitem_red' }) %>
    <%= link_to("Re-create Template", {:action => :recreate}, :class => 'menuitem_green') %> 
    <a class="menuitem" href="http://openvz.org/download/template/cache/" target="_blank"> Download Templates [external] </a>
</div>
