<div class="sidebarmenu">
<%= sidebar_button :blue, "List Users", {:action => :list} %>
<%= sidebar_button :red, "Activated Users", {:action => :activated} %> 
<%= sidebar_button :red, "Deactivated Users", {:action => :deactivated} %>
<%= sidebar_button :red, "New User", {:action => :new} %>
</div>
