<% content_for :sidebar do %>
<%= render :partial => 'links' %>
<% end %>
<h1>New user</h1>

<% form_tag :action => 'create' do %>
	<table id="rounded-corner">
  		<%= render :partial => 'form' %>
	</table>
	<dl class="submit"><%= submit_tag "Create" %></dl>
<% end %>
