<% content_for :sidebar do %>
<%= render :partial => 'links' %>
<% end %>
<table id="rounded-corner">
<% for column in User.content_columns %>
<tr>
  <td><%= column.human_name %><td> 
  <td>:</td> 
  <td> <%=h @user.send(column.name) %></td>
</tr>
<% end %>
</table>


<%= blue_button 'Edit', :action => 'edit', :id => @user %> |
<%= blue_button 'Back', :action => 'list' %>

