<div class="sidebarmenu">
<%= sidebar_button :blue, "All Containers", :action => :list_vps, :status=> "all" %>
<%= sidebar_button :blue, "Running Containers", :action => :list_vps, :status=> "running"%> 
<%= sidebar_button :blue, "Stopped Containers", :action => :list_vps, :status=> "stopped"%>
	<% if session[:permission] == "admin" %>
	<%= sidebar_button :blue, "Backups", :action => :backups %>
	<%= sidebar_button :blue, "New Container", :action => :new_vps %>
	<% end %>
</div>
