<% content_for :sidebar do %>
<%= render :partial => 'links' %>
<% end %>
<h3> Create New Container </h3>
<%= error_messages_for :vps %>

<table id="rounded-corner">
<% form_tag  :action => "create_vps" do %>
	
	<%= render :partial => 'form' %>
<tr>
	<td> <%= submit_tag "Create"%> </td>
</tr>
</table>
<% end %>

